@charset "UTF-8";
/*for displaying offers*/
table.offersTable {
    border-collapse: collapse;
    border: 2px solid blue;
}

table.formtable {
    border-collapse: collapse;
}

.formtable textarea {
    width: 300px;
    height: 200px;
}

.formerror {
    font-size: small;
    color: red;
}

/*for displaying users*/
table.userstable {
    margin-top: 10px;
    border-collapse: collapse;
    border: 2px solid blue;
}

/*Both offers and users*/
th {
    height: 50px;
    padding: 5px;
    border: 2px solid blue;
}

.formtable td {

}

td {
    height: 30px;
    padding: 5px;
}

.userstable td, .offerstable td {
    border: 1px solid blue;
}

/*CreateNewAccount*/
.createaccounttable {
    border: 1px solid blue;
    position: relative;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    padding: 5px;
}

.createaccounterror {
    font-size: small;
    color: red;
}

input[type=text], input[type=password] {
    width: 200px
}

h2 {
    position: relative;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 400px;
    margin-left: -200px;
    /* margin-top: -150px; */
    display: inline-block;
    text-align: center;

}

.label {
    vertical-align: top;
}

.passwordsmatch {
    color:green;
}

.passwordsdonotmatch{
    color:red;
}

/*loginpage*/

.logintable {
    width: 350px;
    padding: 10px 10px;
    border: 1px solid blue;
    padding: 10px 10px;
    border-collapse: collapse;
}

.loginErrorMsg {
    color: red;
    padding-bottom: 7px;
}

div.header {
    position: relative;
    text-align: center;
    width: 100%;
    background-color: blue;
    height: 60px;
}

.header .title {
    color: white;
    font-size: 30px;
}

.header .login, .header .logout {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}

.header .logout {
    background-color: blue;
}

div.content {
    position: relative;
    padding: 40px 10px;
}

div.footer {
    color: gray;
    font-size: small;
}

