@charset "UTF-8";

.formtable {
	width: 500px;
	padding: 10px 10px;
	border: 1px solid blue;
	padding: 10px 10px;
}

textarea {
	width: 300px;
	height: 300px;
}

input[type=text] {
	width: 300px;
}


.label {
	text-align: right;
	vertical-align: top;
}

.control {
	margin-left: 10px;
}

.btn {
	height: 60px;
}

.error {
	font-size: small;
	color: red;
	margin-left: 10px;
}
